<ion-view view-title="Perfil">
  <ion-content data-ng-init="transformar()">
  		<div class="row responsive-sm">
		  <div class="col">Nome: {{ontologyInstance}}</div>
		  <div class="col">CPF: {{result.cpf}}</div>
		  <div class="col">E-mail: {{result.email}}</div>
		  <div class="col">CEP: {{result.cep}}</div>
		</div>
  </ion-content>
  <ion-footer-bar class="bar-stable">		
  	<img src="img/Indra.png" alt="Indra" style="width:200px; left:auto; right:auto; position:static;">
  </ion-footer-bar>
</ion-view>