<ion-view view-title="Perfil">
  <ion-content>
    <div data-ng-init="transformar()">
  		<div class="row responsive-sm" >
  		  <div class="col">Nome: {{tasklist}}</div>
  		  <div class="col">CPF: {{tasklist2}}</div>
  		  <div class="col">E-mail: {{tasklist3}}</div>
  		  <div class="col">CEP: {{tasklist4}}</div>
		  </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">		
  	<img src="img/Indra.png" alt="Indra" style="width:200px; left:auto; right:auto; position:static;">
  </ion-footer-bar>
</ion-view>